.verdana {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px}
.title {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: oblique; color: #333399}
.arialheading {  font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 19px; font-weight: bold; color: #990033}
.clicktrail {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: italic; font-weight: bold; color: #0066CC}
.arialheadinglinks { font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 19px; font-weight: bold; color: #003366}
.buttons {  font-family: "Times New Roman", Times, serif; font-size: x-large; color: #990033}
.arialheadinglinks2 { font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 15px; font-weight: bold; color: #003366 }
.arialheadinglinks2i { font-family: Geneva, Arial, Helvetica, sans-serif; font-style: italic; font-size: 15px; font-weight: bold; color: #003366 }
.arialheadinglinks3 { font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold; color: #003366 }
.arialheadinglinks4 { font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 6px; font-weight: bold; color: #003366 }
.arialheadinglinks5 { font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #003366 }
.arialheadinglinks5l { font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #003366 }
.arialheadingfont13 { font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; color: #003366 }
.arialheadingfont19 { font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 19px; font-weight: bold; color: #003366 }
.arialheadinglinks12p { font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; color: #003366 }
.arialheadinglinks12pb { font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #003366 }
.verdana13 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px}
.arialheadingfont13a { font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 13px;  color: #003366 }
.arialheadingfont15a { font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 15px;  color: #003366 }
.courierStyle19 { font-family: Courier, Helvetica, sans-serif, Arial; font-size: 19px; font-weight: bold; color: #990033}
.courierStyle19p { font-family: Courier, Helvetica, sans-serif, Arial; font-size: 19px; color: #003366}
.courierStyle15p { font-family: Courier, Helvetica, sans-serif, Arial; font-size: 11px;  color: #003366}
.courierStyle11p { font-family: Courier, Helvetica, sans-serif, Arial; font-size: 11px;  color: #003366}
.arialheadingCheck15a { font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 15px;  color: #003366}
.arialheadingfont11a  { font-family: Geneva,  Arial, Helvetica, sans-serif; font-size: 11px; color: #003366 }
